html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, sub, var,
dl, dd, dt, ul, ol, li,
fieldset, form, table, caption, tbody,
tfoot, thead, tr, th, td, header, section,
footer, article, details {
padding: 0; margin: 0; border: 0; outline: 0;
font-family: inherit; font-style: inherit; font-size:
100%; font-weight: inherit; vertical-align: baseline;
}


body{
    background-color:#e6ffec;
    /* background-color:#C1F7DC; */
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}


a:link{
    color:#FFEB66;
    text-decoration:none;
}
a:visited{
    color:#85C7F2;
}


#logo2{
    position:fixed;
    transform: translate(-50%, -50%);
    width:auto;
    height:auto; 
    top:36%;
    left:50%;
    z-index:6
}


#about{
    position:fixed;
    margin:10px;
    padding:10px;
    top:90%;
    left:47%;
    z-index:2;
}


#github{
    position:fixed;
    opacity:75%;
    top:95%;
    left:49%;
    width:20px;
    height:auto;
    z-index:2;
}


.footer {  
    position: fixed;    
    bottom: 1px;    
    height:90px;
    width: 100%;  
    background-color: rgb(255, 255, 255);  
    color: rgb(192, 29, 29); 
    text-align: right;  
    z-index:1;
    }


#logo{
    position:fixed;
    margin:10px;
    padding:0px;
    height:20px;
    width:20px;
    top:0px;
    left:0px;
    z-index:5;
}


#date{
    margin-top:17%;
    margin-left:40%;
    z-index:7;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    
    padding: 100px;
    font-size: 16px;
    border: 10px;
    background-color:#FFEB66;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: #FEEB66;
    font-size: 17px;
    /* border: 1px solid grey; */
    /* border-left: none; Prevent double borders */
    cursor: pointer;
  }
  
  /* form.example button:hover {
    background: #0b7dda;
  } */
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  #searchbar{
    margin-left: 40%;
    padding:15px;
    margin-top:30%;
    border-radius: 27px;
    color:#FFEB66;
    z-index:5;
  }

  input[type=text] {
    width: 20%;
    -webkit-transition: width 0.30s ease-in-out;
      transition: width 0.30s ease-in-out; 
      -webkit-transform: scale(3);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
 }

  input[type=text]:focus {
    width: 30%;
  }

 /* #list{
   font-size:  1.5em;
   margin-left: 90px;
  } */

